@tailwind base; /* CSS reset placed here.*/
@tailwind components;
@tailwind utilities;

@layer base {
  .max-w-1440 {
    max-width: 1440px;
    margin: 0 auto;
  }
  :root {
    --color-primary: 110 153 244;
    --color-text: 33 33 33;
    --color-success: 0 200 81;
    --color-info: 51 181 229;
    --color-warn: 255 187 51;
    --color-error: 254 78 78;
  }

  :root [class~="dark"] {
    --color-primary: 247 147 34;
    --color-text: 33 33 33;
    --color-success: 0 200 81;
    --color-info: 51 181 229;
    --color-warn: 255 187 51;
    --color-error: 254 78 78;
  }
}
